{% extends 'base.html'%}

{% block body %}
{% include "articles/_follow.html" %}

<p>제목  :  {{article.title}}</p>
<p>내용  :  {{article.content}}</p>
<p>최초 업로드 날짜  :  {{article.created_at}}</p>
<p>최종 수정 날짜  :  {{article.updated_at}}</p>
<hr>
<hr>
<a href="{% url 'articles:index' %}">[INDEX]</a>
<a href="{% url 'articles:update' article.pk %}">[EDIT]</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="[DELETE]"> <br>
</form>

<form action="{% url 'articles:comments_create' article.pk %}" method = "POST">
  {% csrf_token %}
  {{ comment_form }}
  <input type="submit" value = "확인">
</form>



{% comment %} <form action="{% url 'articles:comments_create' article.pk%}" method="POST">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <input type="text" name="comment">
      <input class="ml-2 btn btn-white border border-dark" type="submit" value="댓글 작성">
    </div>
  </div>
</form>
<hr> {% endcomment %}

<div class="container">
  {{comments|length}} 개의 댓글이 있습니다.
  {% comment %}
  {{article.comment_set.all|length}} 개의 댓글이 있습니다.
  {{comments.count}} 개의 댓글이 있습니다.
  {% endcomment %}
  <ul class="list-group">
    {% for comment in comments %}
    <li class="list-group-item ">
      <div class="mr-auto" style="display : inline;">
        <p>[{{ forloop.revcounter }}]{{comment.content}}</p>
      </div>

      <!-- 댓글 삭제 Form -->
      <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" style="display : inline;"
        onclick="return confirm('진짜 삭제할까요...?')">
        {% csrf_token %}
        <input class="mr-auto btn btn-dark right-box" type="submit" value="DELETE">
      </form>
    </li>
    <!-- for 문 QuerySet이 텅텅 비어 있을 때-->
    {% empty %}

    {% endfor %}
  </ul>

</div>

{% endblock  %}